apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -dev
namespace: default

resources:
  - ../../base

images:
  - name: ghcr.io/${GITHUB_REPOSITORY}
    newTag: sha-DEV   # replace at deploy time if desired

patches:
  - path: patch-deploy.yaml
