<header class="site-header">
    <a href="/" class="brand">{{ or .Title "My Site" }}</a>
    <nav>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
