APP_NAME={{ .Name }}
APP_ENV=development
HTTP_ADDR= :{{ .HTTPAddr }}
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=60s
HTTP_MAX_BODY_BYTES=10485760
HTTP_ENABLE_CORS=true
HTTP_ENABLE_SECURITY_HEADERS=true
CORS_ALLOWED_ORIGINS=*

{{- if .WithGRPC }}
GRPC_ADDR= :{{.GRPCAddr}}
{{- end }}

{{- if .WithPostgres }}
DATABASE_URL=postgres://postgres:postgres@localhost:5432/app?sslmode=disable
{{- end }}

{{- if .WithRedis }}
REDIS_ADDR=localhost:6379
{{- end }}

{{- if .WithAuth }}
OAUTH_ISSUER=http://oauth-service:8080
OAUTH_AUDIENCE={{ .Name }}
OAUTH_JWKS_URL=http://oauth-service:8080/.well-known/jwks.json
{{- end }}

LOG_SVC_URL=
LOG_SVC_API_KEY=
