apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Name }}-config
data:
  APP_ENV: "production"
  HTTP_ADDR: ":8080"
  HTTP_ENABLE_CORS: "true"
  HTTP_ENABLE_SECURITY_HEADERS: "true"
  CORS_ALLOWED_ORIGINS: "*"
  {{- if .WithAuth }}
  OAUTH_AUDIENCE: "{{ .Name }}"
  {{- end }}
