apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}-secret
type: Opaque
stringData:
  # Fill in as needed (safe defaults: empty)
  LOG_SVC_API_KEY: ""
  {{- if .WithPostgres }}
  DATABASE_URL: ""
  {{- end }}
  {{- if .WithRedis }}
  REDIS_ADDR: ""
  {{- end }}
  {{- if .WithAuth }}
  OAUTH_ISSUER: ""
  OAUTH_JWKS_URL: ""
  {{- end }}
